<section class="login-section mt-4 mb-4">
  <div class="login-container">
    <div class="login-card">
      <h2 class="login-title">Crie sua conta</h2>
      <form>
        <!-- Nome Completo -->
        <div class="form-group">
          <label for="formName">Nome Completo</label>
          <input type="text" id="formName" name="name" required />
        </div>

        <div class="flex">
        <!-- Email -->
          <div class="form-group">
            <label for="formEmail">E-mail</label>
            <input type="email" id="formEmail" name="email" required />
          </div>

          <!-- Senha -->
          <div class="form-group">
            <label for="formPassword">Senha</label>
            <input type="password" id="formPassword" name="password" minlength="6" required />
          </div>
        </div>

        <div class="flex">
          <!-- CPF -->
          <div class="form-group">
            <label for="formCPF">CPF</label>
            <input 
              type="text" 
              id="formCPF" 
              name="cpf" 
              maxlength="14" 
              pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" 
              required 
            />
          </div>

          <!-- Telefone -->
          <div class="form-group">
            <label for="formPhone">Número de Telefone</label>
            <input 
              type="tel" 
              id="formPhone" 
              name="phone" 
              maxlength="15" 
              pattern="\(\d{2}\) \d{4,5}-\d{4}" 
              placeholder="(XX) XXXXX-XXXX"
              required 
            />
          </div>
        </div>

        <!-- Botão de cadastro -->
        <button type="submit" class="btn">Cadastrar</button>
      </form>

      <!-- Link para login -->
      <p class="signup-link">
        Já tem conta? <a href="/acessar">Faça login</a>
      </p>
    </div>
  </div>
</section>
