
<header class="text-center">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <!-- Logo ou Título -->
        <a class="navbar-brand" href="#">
          <h1 class="title-nav"><b>TeleCRAS</b></h1>
        </a>
    
        <!-- Botão de alternância (toggle) -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <!-- Itens do Menu -->
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link active" href="#sobre">Sobre</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#services">Serviços</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#FAQ">FAQ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#footer">Contatos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Entrar</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="wallpaper">
      <div class="wellcome">
        <h2 class="title">Bem-vindo ao <span>TeleCRAS</span></h2>
        <p>Facilitamos o acesso aos serviços sociais prestados pelo <b>CRAS</b>,<br/>
           oferecendo apoio e informações sobre benefícios, serviços e agendamentos.<br/>
           Estamos aqui para te ajudar!</p>
      </div>
    </div>
  </header>

  <section id="sobre" class="section-cras pt-4 pb-2 padding-inline">
    <div class="info-cras">
      <div>
        <h3><b>O que é o CRAS?</b></h3>
        <p class="pt-1"><span>O Centro de Referência de Assistência Social – CRAS</span> é uma unidade de proteção social básica do SUAS (Sistema Único de Assistência
          Social), que tem por objetivo prevenir a
          ocorrência de situações de vulnerabilidades e riscos sociais nos territórios, por meio do desenvolvimento de potencialidades e aquisições, do fortalecimento de vínculos familiares e
          comunitários, e da ampliação do acesso aos direitos de cidadania. O Serviço de Proteção e Atendimento Integral à Família (PAIF) é oferecido em todos os Centros de Referência da Assistência Social (CRAS) 
          e tem como objetivo apoiar famílias, prevenindo a ruptura de laços, promovendo o acesso a direitos e contribuindo para a melhoria da qualidade de vida.</p>
      </div>
      <div>
        <h4><b>Quem são os usuários do CRAS?</b></h4>
        <p class="pt-1 margin-0">
          O CRAS (Centro de Referência de Assistência Social) atende famílias em situação de vulnerabilidade social, como falta de renda,
          acesso precário a serviços públicos e fragilidade nos vínculos familiares e comunitários.
          Também oferece apoio para o acesso a programas sociais como Bolsa Família e Minha Casa Minha Vida, além de benefícios como o BPC. 
        </p>
        <p>O CRAS é um espaço de apoio social, aberto a qualquer pessoa que precise de ajuda.</p>
        <ul>
          <li>Receber orientações dos serviços e seu atendimento de forma simples e compreensível;</li>
          <li>Receber informações sobre como e onde buscar seus direitos e atendimento socioassistencial;</li>
          <li>Atendimento e encaminhamento para assistência imediata em casos de calamidades, desastres naturais ou crises sociais, garantindo acesso a serviços essenciais e proteção.</li>
        </ul>
      </div>
    </div>
    <img class="image" src="https://scontent.fjdo1-2.fna.fbcdn.net/v/t39.30808-6/330561007_552899119974530_5495217552678903437_n.png?_nc_cat=102&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=AH1FYoGkGPYQ7kNvgHM38Vf&_nc_zt=23&_nc_ht=scontent.fjdo1-2.fna&_nc_gid=ATLQOWkg5BmfRYFBSmyR5wi&oh=00_AYDSRlkP_HEDSrF2syh1DjTE7ouFCdW06wbWn7d0mzJ9-g&oe=6749A316" alt="" >
  </section>

  <section id="services" class="services text-center pt-2 padding-inline">
    <h3><b>SERVIÇOS</b></h3>
    <p class="body-small"><b>Os principais serviços oferecidos pelo CRAS</b></p>
    <div id="carouselExample" class="carousel slide corousel-desk" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="padding-inline mt-2">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-md-4">
                <div class="card">
                  <img src="https://img.freepik.com/fotos-gratis/equipe-um-tecnico-eletrico-trabalhando-em-um-quadro-de-distribuicao-com-fusiveis_169016-25050.jpg?t=st=1732666369~exp=1732669969~hmac=b3fd8c02aa0197656d813ff3fc1154befb5a3e6229734b505845cafbeb32afce&w=826" class="card-img-top" alt="Card">
                  <div class="card-body">
                    <h5 class="card-title" style="font-weight: bold;">TARIFA SOCIAL DE ENERGIA ELETRICA</h5>
                    <p class="card-text">Famílias de baixa renda com consumo de 0 kWh a 30 kWh recebem 65% de desconto.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card">
                  <img src="https://img.freepik.com/fotos-gratis/casamento-de-idosos-usando-laptop-na-sala-de-estar_329181-14680.jpg?t=st=1732665839~exp=1732669439~hmac=cde98f7abce3b9d702b3d4f68b3b4d1232954dde8864921938693628ca86aee9&w=826" class="card-img-top" alt="Card">
                  <div class="card-body">
                    <h5 class="card-title" style="font-weight: bold;">BENEFÍCIO DE PRESTAÇÃO CONTINUADA (BPS)</h5>
                    <p class="card-text">Garantia de um salário mínimo por mês ao idoso com idade igual ou superior a 65 anos ou à pessoa com deficiência de qualquer idade.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card">
                  <img src="https://img.freepik.com/fotos-gratis/alegre-mae-levando-selfie-ligado-telefone-movel-enquanto-pai-carregar-seu-filha-ligado-ombro-em-sala-de-estar_23-2148045504.jpg?t=st=1732666037~exp=1732669637~hmac=39e98a37cf9be6e1a26e54238425dafec899b0ba3da763d34a06dc81f1938689&w=826" class="card-img-top" alt="Card">
                  <div class="card-body">
                    <h5 class="card-title" style="font-weight: bold;">BOLSA FAMÍLIA</h5>
                    <p class="card-text">Transferência direta e indireta de renda que integra benefícios de assistência social, saúde, educação e emprego, destinado às famílias em situação de pobreza.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <div class="carousel-item">
            <div class="row">
              <div class="col-md-4">
                <div class="card">
                <img src="https://img.freepik.com/fotos-gratis/vista-lateral-pessoas-segurando-sacola-de-compras_23-2149663611.jpg?t=st=1732666167~exp=1732669767~hmac=84e402c13967eb340c481ab2ebee5902aedfb5d0e9819e18e84e699b8ed3f5e4&w=826" class="card-img-top" alt="Card">
                  <div class="card-body">
                    <h5 class="card-title" style="font-weight: bold;">PROGRAMA COZINHA SOLIDÁRIA E CESTA BÁSICAS DE ALIMENTOS</h5>
                    <p class="card-text">Fornecimento de alimentação gratuita e de qualidade à população, preferencialmente às pessoas em situação de vulnerabilidade e risco social, incluída a população em situação de rua e em insegurança alimentar e nutricional.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card">
                  <img src="https://t3.ftcdn.net/jpg/02/65/60/78/240_F_265607821_06JgShO83XiofyLF28XIrM0mZNZBTS3J.jpg" class="card-img-top" alt="Card">
                  <div class="card-body">
                    <h5 class="card-title" style="font-weight: bold;">AUXÍLIO FUNERAL</h5>
                    <p class="card-text">Benefício concedido em razão do falecimento de servidores ou aposentados e é concedido à família ou a terceiro que tenha custeado o funeral.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card">
                  <img src="https://img.freepik.com/fotos-gratis/jovem-mulher-vestida-casualmente-cobrindo-o-rosto-com-as-duas-maos-sentindo-se-nervosa-ou-envergonhada-sem-olhar-escondendo-se-expressoes-faciais-humanas-emocoes-sentimentos-reacoes-e-atitudes_273609-7391.jpg?t=st=1732666262~exp=1732669862~hmac=ee019d0a73cb60567c66ba1487d3aa406db1566b0a47eb55ca3237f6d6407fb5&w=826" class="card-img-top" alt="Card">
                  <div class="card-body">
                    <h5 class="card-title" style="font-weight: bold;">LEI MARIA DA PENHA</h5>
                    <p class="card-text">Oferece acolhimento provisório para mulheres que sofrem violência doméstica, física, sexual, psicológica ou moral. Elas podem ser acolhidas sozinhas ou com seus filhos.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Controls -->
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Próximo</span>
      </button>
    </div>

    <div id="carouselExample" class="carousel slide corousel-mobile" data-bs-ride="carousel">
      <div class="carousel-inner">
        <!-- Item 1 -->
        <div class="carousel-item active">
          <div class="row justify-content-center">
            <div class="col-12 col-md-4">
              <div class="card">
                <img src="https://img.freepik.com/fotos-gratis/equipe-um-tecnico-eletrico-trabalhando-em-um-quadro-de-distribuicao-com-fusiveis_169016-25050.jpg?t=st=1732666369~exp=1732669969~hmac=b3fd8c02aa0197656d813ff3fc1154befb5a3e6229734b505845cafbeb32afce&w=826" class="card-img-top" alt="Card">
                <div class="card-body">
                  <h5 class="card-title" style="font-weight: bold;">TARIFA SOCIAL DE ENERGIA ELETRICA</h5>
                  <p class="card-text">Famílias de baixa renda com consumo de 0 kWh a 30 kWh recebem 65% de desconto.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Item 2 -->
        <div class="carousel-item">
          <div class="row justify-content-center">
            <div class="col-12 col-md-4">
              <div class="card">
                <img src="https://img.freepik.com/fotos-gratis/casamento-de-idosos-usando-laptop-na-sala-de-estar_329181-14680.jpg?t=st=1732665839~exp=1732669439~hmac=cde98f7abce3b9d702b3d4f68b3b4d1232954dde8864921938693628ca86aee9&w=826" class="card-img-top" alt="Card">
                <div class="card-body">
                  <h5 class="card-title" style="font-weight: bold;">BENEFÍCIO DE PRESTAÇÃO CONTINUADA (BPS)</h5>
                  <p class="card-text">Garantia de um salário mínimo por mês ao idoso com idade igual ou superior a 65 anos ou à pessoa com deficiência de qualquer idade.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Item 3 -->
        <div class="carousel-item">
          <div class="row justify-content-center">
            <div class="col-12 col-md-4">
              <div class="card">
                <img src="https://img.freepik.com/fotos-gratis/alegre-mae-levando-selfie-ligado-telefone-movel-enquanto-pai-carregar-seu-filha-ligado-ombro-em-sala-de-estar_23-2148045504.jpg?t=st=1732666037~exp=1732669637~hmac=39e98a37cf9be6e1a26e54238425dafec899b0ba3da763d34a06dc81f1938689&w=826" class="card-img-top" alt="Card">
                <div class="card-body">
                  <h5 class="card-title" style="font-weight: bold;">BOLSA FAMÍLIA</h5>
                  <p class="card-text">Transferência direta e indireta de renda que integra benefícios de assistência social, saúde, educação e emprego, destinado às famílias em situação de pobreza.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Item 4 -->
        <div class="carousel-item">
          <div class="row justify-content-center">
            <div class="col-12 col-md-4">
              <div class="card">
                <img src="https://img.freepik.com/fotos-gratis/vista-lateral-pessoas-segurando-sacola-de-compras_23-2149663611.jpg?t=st=1732666167~exp=1732669767~hmac=84e402c13967eb340c481ab2ebee5902aedfb5d0e9819e18e84e699b8ed3f5e4&w=826" class="card-img-top" alt="Card">
                <div class="card-body">
                  <h5 class="card-title" style="font-weight: bold;">PROGRAMA COZINHA SOLIDÁRIA E CESTA BÁSICAS DE ALIMENTOS</h5>
                  <p class="card-text">Fornecimento de alimentação gratuita e de qualidade à população, preferencialmente às pessoas em situação de vulnerabilidade e risco social, incluída a população em situação de rua e em insegurança alimentar e nutricional.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Item 5 -->
        <div class="carousel-item">
          <div class="row justify-content-center">
            <div class="col-12 col-md-4">
              <div class="card">
                <img src="https://t3.ftcdn.net/jpg/02/65/60/78/240_F_265607821_06JgShO83XiofyLF28XIrM0mZNZBTS3J.jpg" class="card-img-top" alt="Card">
                <div class="card-body">
                  <h5 class="card-title" style="font-weight: bold;">AUXÍLIO FUNERAL</h5>
                  <p class="card-text">Benefício concedido em razão do falecimento de servidores ou aposentados e é concedido à família ou a terceiro que tenha custeado o funeral.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Item 6 -->
        <div class="carousel-item">
          <div class="row justify-content-center">
            <div class="col-12 col-md-4">
              <div class="card">
                <img src="https://img.freepik.com/fotos-gratis/jovem-mulher-vestida-casualmente-cobrindo-o-rosto-com-as-duas-maos-sentindo-se-nervosa-ou-envergonhada-sem-olhar-escondendo-se-expressoes-faciais-humanas-emocoes-sentimentos-reacoes-e-atitudes_273609-7391.jpg?t=st=1732666262~exp=1732669862~hmac=ee019d0a73cb60567c66ba1487d3aa406db1566b0a47eb55ca3237f6d6407fb5&w=826" class="card-img-top" alt="Card">
                <div class="card-body">
                  <h5 class="card-title" style="font-weight: bold;">LEI MARIA DA PENHA</h5>
                  <p class="card-text">Oferece acolhimento provisório para mulheres que sofrem violência doméstica, física, sexual, psicológica ou moral. Elas podem ser acolhidas sozinhas ou com seus filhos.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <!-- Controles -->
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Próximo</span>
      </button>
    </div>
    
  </section>

  
  <section id="FAQ" class="FAQ text-center padding-inline pt-5">
    <h3><b>PERGUNTAS FREQUENTES</b></h3>
    <div class="pt-3">
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              O que é o Cadastro Único e como posso me inscrever?
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body text-start">
              <p class="margin-0">O <b>Cadastro Único (CadÚnico)</b> é uma ferramenta do governo federal utilizada para identificar e caracterizar as famílias de baixa renda, com o objetivo de acessar programas sociais como o Bolsa Família, Minha Casa Minha Vida, e outros.
                 A inscrição no Cadastro Único pode ser feita nos CRAS, onde você será orientado sobre o processo e a documentação necessária.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
              Como saber se sua família se encaixa no critério de baixa renda?
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body text-start">
              <p>Para saber se sua família se encaixa nos critérios de baixa renda,
                 você precisa conferir a tabela abaixo e verificar se a renda total da sua família se enquadra nos valores estabelecidos:</p>
                 <ul>
                  <li>1 pessoa: R$ 660,00</li>
                  <li>2 pessoas: R$ 1.320,00</li>
                  <li>3 pessoas: R$ 1.980,00</li>
                  <li>4 pessoas: R$ 2.640,00</li>
                  <li>5 pessoas: R$ 3.300,00</li>
                  <li>6 pessoas ou mais: R$ 3.960,00</li>
                </ul>
                <p>Além disso, é importante lembrar que, para o Governo, família de baixa renda é aquela que vive com até meio salário mínimo por pessoa,
                   o que equivale a R$ 660,00 por mês por pessoa.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
              Posso receber benefícios mesmo que não esteja em situação de extrema pobreza?
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body text-start">
              <p> Sim, você pode ter direito a benefícios sociais mesmo que não esteja em situação de extrema pobreza. O acesso a benefícios como o Bolsa Família e o Auxílio Brasil depende da análise da sua renda familiar. Para saber se você tem direito a algum benefício, é importante realizar o Cadastro Único no CRAS,
                 onde sua situação será avaliada e, se necessário, você será orientado sobre os programas para os quais pode se inscrever.</p>
              </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
              Preciso agendar o atendimento no CRAS?
            </button>
          </h2>
          <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body text-start">
              <p>O atendimento no CRAS geralmente é realizado por ordem de chegada, mas em algumas situações, como para determinados serviços ou programas (ex: programas de benefícios como o Bolsa Família), pode ser necessário agendar o atendimento.
                 Para saber mais sobre como agendar um atendimento, entre em contato diretamente com o CRAS da sua localidade.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
              Como posso fazer denúncias de violação de direitos no CRAS?
            </button>
          </h2>
          <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body text-start">
              <p>O CRAS é um local seguro para fazer denúncias de violação de direitos, como violência doméstica, abuso infantil,
                 trabalho infantil, negligência, entre outros. Você pode comunicar casos de abuso ou negligência diretamente ao atendente social ou ao psicólogo. O CRAS encaminha as denúncias para os órgãos responsáveis,
                 como a Polícia Civil, o Ministério Público, o Conselho Tutelar, e outros serviços de proteção</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-5">
      <h4>Ainda tem dúvidas?</h4>
      <p class="margin-0">Entre em contato com nossa assistente virtual <b>Gabi</b> no Telegram,</p>
      <p> Clique na logo abaixo para ser redirecionado.</p>
      <a class="" href="https://t.me/TeleCrasBot" target="_blank" rel="noopener noreferrer">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/82/Telegram_logo.svg/1200px-Telegram_logo.svg.png" alt="Entre em contato pelo Telegram" style="width: 50px; height: 50px;">
      </a>
    </div>
  </section>

  <section class="Cep pt-5 margin-inline">
    <div class="container-cep text-center">
      <h2>Consulta da rede CRAS</h2>
      <p>Digite o CEP abaixo para buscar as informações do CRAS mais próximo a você:</p>

      <!-- Início do formulário -->
      <form>
          <label for="cep">CEP:</label>
          <input name="cep" type="text" id="cep" size="10" maxlength="8"
                placeholder="Digite o CEP (ex: 01001-000)" [(ngModel)]="cep" />
          <!-- Botão de pesquisa -->
          <button class="button-cep" type="button" (click)="buscarCep()" >Pesquisar</button>
      </form>

      <!-- Exibição de erro -->
      <div *ngIf="error" id="erro" class="error">
          <p class="margin-0">CEP não encontrado ou inválido. Tente novamente.</p>
      </div>

      <div class="modal fade" id="crasModal" tabindex="-1" aria-labelledby="crasModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="crasModalLabel">Informações do CRAS</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body">
              <div *ngIf="crasInfo">
                <div [innerHTML]="crasInfo"></div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



<footer id="footer" class="text-center py-4">

<p>&copy; 2024 TeleCras - Todos os direitos reservados</p>
</footer>
