.margin-inline {
    margin-inline: 40px;
}
.padding-inline {
    padding-inline: 40px;
}

/* WELLCOME TELECRAS*/
.wallpaper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #f5f5f5; /* Fundo geral */
    padding: 0 20px;
}
  
.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    background: #f5f5f5;
}
  
.welcome {
    background: #002060; /* Fundo azul escuro */
    color: white;
    padding: 40px;
    border-radius: 10px;
    max-width: 500px;
}
  
.welcome h2 {
    font-size: 2.5rem;
    line-height: 1.2;
    margin-bottom: 20px;
}
  
.welcome h2 span {
    color: #ffc107; /* Cor dourada */
    font-weight: bold;
}
  
.welcome p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 20px;
}

/* section ABOUT CRAS */
.section-cras {
    display: flex;
    flex-wrap: wrap; /* Adiciona responsividade para telas menores */
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    border-radius: 10px;
}

.info-cras {
flex: 1;
max-width: 60%;
}

.info-cras div {
margin-bottom: 1.5rem;
}

.info-cras h3, .info-cras h4 {
color: #001540; /* Cor consistente com outras páginas */
margin-bottom: 0.8rem;
}

.info-cras p {
font-size: 1rem;
line-height: 1.6;
color: #333;
}

.info-cras ul {
padding-left: 1.5rem;
margin-top: 1rem;
}

.info-cras ul li {
font-size: 1rem;
color: #444;
margin-bottom: 0.5rem;
}

.image {
flex: 1;
max-width: 35%; /* Adaptação para imagens */
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
object-fit: cover; /* Melhora o encaixe da imagem */
}

.container-services {
    width: 100%;
    margin-top: 24px;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.body-small {
    font-size: 12px;
}

.corousel-mobile {
    display: none;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgb(22, 88, 254); 
    width: 25px;
    height: 25px;
    border-radius: 50%; 
}

.card {
    max-width: 25rem;
    height: 30rem;
}

/* Exemplo para mudar a cor do texto do título do acordeão */
/* FAQ section */
.faq-section {
    padding: 3rem 10rem;
    border-radius: 10px;
}
  
.faq-title {
color: #001540; /* Consistência com o estilo das outras seções */
font-size: 1.8rem;
margin-bottom: 2rem;
}

.faq-accordion .accordion-item {
border: none;
}

.accordion-button {
background: #001540;
color: #fff;
font-weight: bold;
border-radius: 5px;
}

.accordion-button:focus {
box-shadow: none;
}

.accordion-button.collapsed {
background: #f8f9fa;
color: #001540;
}

.accordion-body {
background: #fff;
border-radius: 5px;
padding: 1rem;
color: #333;
}

.faq-contact h4 {
color: #001540;
font-size: 1.5rem;
}

.faq-contact span {
color: #001540;
font-weight: bold;
}

.faq-contact p {
color: #444;
margin-bottom: 0.5rem;
}


.telegram-logo {
width: 50px;
height: 50px;
transition: transform 0.3s ease;
}

.telegram-logo:hover {
transform: scale(1.1);
}

/* CSS search cep */

.Cep {
    display: flex;
    justify-content: center;
  }
  
  .container-cep {
    max-width: 500px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  }
  
  .container-cep h2 {
    font-size: 1.8rem;
    color: #001540; /* Azul escuro */
    margin-bottom: 10px;
  }
  
  .container-cep p {
    font-size: 1rem;
    color: #6c757d; /* Cinza claro */
    margin-bottom: 20px;
    padding-inline: 30px;
  }
  
  .container-cep form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .container-cep label {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
  }
  
  .container-cep input[type="text"] {
    width: 70%;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 25px;
    outline: none;
    transition: all 0.3s;
    background-color: #f8f9fa;
  }
  
  .container-cep input[type="text"]:focus {
    border-color: #001540;
    box-shadow: 0 0 0 0.2rem rgba(0, 21, 64, 0.25);
  }
  
  .button-cep {
    background: #001540;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 0.7rem 1rem;
    cursor: pointer;
    font-size: 1rem;
    width: 200px;
    text-transform: uppercase;
    font-weight: bold;
    transition: background 0.3s;
  }
  
  .button-cep:hover {
    background-color: #003366;
  }
  
  .error p{
    font-size: 10px;
    color: #d8000c;
    text-align: center;
    font-weight: bold;
  }

/* modal infos */
/* Modal */
.modal-dialog {
    max-width: 800px;
    margin: 30px auto;
  }
  
  .modal-content {
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9; /* Cor de fundo mais suave */
  }
  
  .modal-header {
    background-color: #001540; /* Cor do cabeçalho do modal */
    color: #fff;
    border-radius: 12px 12px 0 0;
    padding: 15px;
  }
  
  .modal-title {
    font-size: 1.5rem;
    font-weight: 600;
  }
  
  .btn-close {
    background: transparent;
    border: none;
    color: #fff;
    font-size: 1.5rem;
  }
  
  .modal-body {
    padding: 20px;
    color: #333;
    font-size: 1rem;
    line-height: 1.6;
  }
  
  .modal-footer {
    background-color: #f1f1f1;
    padding: 15px;
    border-radius: 0 0 12px 12px;
  }
  
  .modal-footer .btn-secondary {
    background-color: #001540;
    color: #fff;
    border: none;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 1rem;
  }
  
  .modal-footer .btn-secondary:hover {
    background-color: #003366;
  }
  
  /* Efeito de sombra no fundo do modal */
  .modal-backdrop {
    background-color: rgba(0, 0, 0, 0.5);
  }
  




footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: #6c757d;
}

footer a {
    margin: 0 10px;
    color: inherit;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s;
}

footer a:hover {
    color: #0056b3;
}
  
@media (max-width: 768px) { /* Para tablets e dispositivos menores */
    .section-cras {
        flex-direction: column; /* Alinha os itens em coluna */
        align-items: center; /* Centraliza os itens */
    }

    .section-cras div {
        width: 100%; /* Ajusta a largura para quase preencher a tela */
    }

    .section-cras img {
        display: none;
    }

    .faq-section {
      padding: 3rem 2rem;
    }
    .faq-title {
        font-size: 1.5rem;
    }
    
    .accordion-button {
        font-size: 0.9rem;
    }                                       
}

@media (max-width: 480px) { /* Para dispositivos móveis menores */
    .corousel-desk {
        display: none;
    }

    .corousel-mobile {
        display: block;
    }
}

@media (max-width: 992px) {
    .section-cras {
      flex-direction: column;
      text-align: center;
    }
  
    .info-cras {
      max-width: 100%;
    }
  
    .image {
      max-width: 80%;
      margin: 1rem auto;
    }
  }
  
  @media (max-width: 576px) {
    .info-cras h3, .info-cras h4 {
      font-size: 1.25rem;
    }
  
    .info-cras p, .info-cras ul li {
      font-size: 0.9rem;
    }
  }
