
<section>
  <div class="wallpaper">
    <div class="content">
      <div class="welcome">
        <h2 class="title">
          Bem vindo ao <br />
          <span>TeleCRAS</span>
        </h2>
        <p>
          Facilitamos o acesso aos serviços sociais prestados pelo <b>CRAS</b>,<br />
          oferecendo apoio e informações sobre benefícios, serviços e agendamentos.<br />
          Estamos aqui para te ajudar!
        </p>
      </div>
    </div>
  </div>
</section>
  
<section id="sobre" class="section-cras pt-4 pb-4 padding-inline">
  <div class="info-cras">
    <div>
      <h3><b>O que é o CRAS?</b></h3>
      <p class="pt-1">
        <span>O Centro de Referência de Assistência Social – CRAS</span> é uma unidade de proteção social básica do SUAS (Sistema Único de Assistência Social), que tem por objetivo prevenir a ocorrência de situações de vulnerabilidades e riscos sociais nos territórios, por meio do desenvolvimento de potencialidades e aquisições, do fortalecimento de vínculos familiares e comunitários, e da ampliação do acesso aos direitos de cidadania.
      </p>
    </div>
    <div>
      <h4><b>Quem são os usuários do CRAS?</b></h4>
      <p class="pt-1 margin-0">
        O CRAS (Centro de Referência de Assistência Social) atende famílias em situação de vulnerabilidade social, como falta de renda, acesso precário a serviços públicos e fragilidade nos vínculos familiares e comunitários. Também oferece apoio para o acesso a programas sociais como Bolsa Família e Minha Casa Minha Vida, além de benefícios como o BPC.
      </p>
      <p>O CRAS é um espaço de apoio social, aberto a qualquer pessoa que precise de ajuda.</p>
      <ul>
        <li>Receber orientações dos serviços e seu atendimento de forma simples e compreensível;</li>
        <li>Receber informações sobre como e onde buscar seus direitos e atendimento socioassistencial;</li>
        <li>Atendimento e encaminhamento para assistência imediata em casos de calamidades, desastres naturais ou crises sociais, garantindo acesso a serviços essenciais e proteção.</li>
      </ul>
    </div>
  </div>
  <img class="image" src="https://static.wixstatic.com/media/ce096b_63418dccce4b425e97aac3999068e035~mv2.png/v1/fill/w_540,h_442,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/ABORDAGEM-SOCIAL_edited.png" alt="Ilustração do CRAS">
</section>

<section id="services" class="services text-center pt-4 padding-inline">
    <h2>Confira Nossos <span>Serviços</span></h2>
    <div class="service-cards">
      <div class="service-card">
        <div class="service-icon">📦</div>
        <h3>Bolsa Família</h3>
        <p>Auxílio financeiro para famílias em situação de vulnerabilidade social.</p>
      </div>
      <div class="service-card">
        <div class="service-icon">📝</div>
        <h3>Cadastro Único</h3>
        <p>Ferramenta para acesso a programas sociais do governo.</p>
      </div>
      <div class="service-card">
        <div class="service-icon">🚍</div>
        <h3>VEM Livre Acesso</h3>
        <p>Benefício de transporte gratuito para pessoas com deficiência.</p>
      </div>
      <div class="service-card">
        <div class="service-icon">💡</div>
        <h3>Tarifa Social de Energia</h3>
        <p>Desconto na conta de energia para famílias de baixa renda.</p>
      </div>
      <div class="service-card">
        <div class="service-icon">🏥</div>
        <h3>BPC</h3>
        <p>Benefício de prestação continuada para idosos e deficientes.</p>
      </div>
      <div class="service-card">
        <div class="service-icon">⚖️</div>
        <h3>Lei Maria da Penha</h3>
        <p>Proteção contra a violência doméstica e familiar para mulheres.</p>
      </div>
    </div>
  
</section>


<section id="FAQ" class="faq-section text-center padding-inline pt-4">
  <h3 class="faq-title"><b>Perguntas Frequentes</b></h3>
  <div class="faq-accordion pt-2">
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <!-- Pergunta 1 -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            O que é o Cadastro Único e como posso me inscrever?
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body text-start">
            <p class="margin-0">O <b>Cadastro Único (CadÚnico)</b> é uma ferramenta do governo federal utilizada para identificar e caracterizar as famílias de baixa renda. A inscrição pode ser feita nos CRAS, onde você será orientado sobre o processo e a documentação necessária.</p>
          </div>
        </div>
      </div>

      <!-- Pergunta 2 -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            Como saber se sua família se encaixa no critério de baixa renda?
          </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body text-start">
            <p>Para saber se sua família se encaixa nos critérios de baixa renda, confira a tabela abaixo:</p>
            <ul>
              <li>1 pessoa: R$ 660,00</li>
              <li>2 pessoas: R$ 1.320,00</li>
              <li>3 pessoas: R$ 1.980,00</li>
              <li>4 pessoas: R$ 2.640,00</li>
              <li>5 pessoas: R$ 3.300,00</li>
              <li>6 pessoas ou mais: R$ 3.960,00</li>
            </ul>
            <p>O governo considera famílias de baixa renda aquelas que vivem com até meio salário mínimo por pessoa.</p>
          </div>
        </div>
      </div>

      <!-- Pergunta 3 -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            Posso receber benefícios mesmo que não esteja em situação de extrema pobreza?
          </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body text-start">
            <p>Sim, o acesso a benefícios sociais depende da análise da sua renda familiar. Realize o Cadastro Único no CRAS para avaliação.</p>
          </div>
        </div>
      </div>

      <!-- Pergunta 4 -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFour">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
            Preciso agendar o atendimento no CRAS?
          </button>
        </h2>
        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body text-start">
            <p>O atendimento no CRAS geralmente é realizado por ordem de chegada, mas pode ser necessário agendamento para determinados serviços. Consulte o CRAS local.</p>
          </div>
        </div>
      </div>

      <!-- Pergunta 5 -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFive">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
            Como posso fazer denúncias de violação de direitos no CRAS?
          </button>
        </h2>
        <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body text-start">
            <p>O CRAS recebe denúncias de violação de direitos como violência doméstica, trabalho infantil e negligência. As denúncias são encaminhadas para os órgãos responsáveis.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  

<section class="Cep mt-4  mb-5">
  <div class="container-cep text-center">
    <h2>Consulta da rede CRAS</h2>
    <p>Digite o CEP abaixo para buscar as informações do CRAS mais próximo a você:</p>

    <form>
        <label for="cep">CEP:</label>
        <input name="cep" type="text" id="cep" size="10" maxlength="9" (keydown)="preventNonNumeric($event)" (input)="onInputCep($event)"
              placeholder="Digite o CEP (ex: 01001-000)" [(ngModel)]="cep" />
            <div *ngIf="error" id="erro" class="error">
              <p class="margin-0">CEP não encontrado ou inválido. Tente novamente.</p>
            </div>
        <button class="button-cep" type="button" (click)="buscarCep()" >Pesquisar</button>
    </form>

  </div>
</section>

<div class="modal fade" id="crasModal" tabindex="-1" aria-labelledby="crasModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="crasModalLabel">Informações do CRAS</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
      </div>
      <div class="modal-body">
        <div *ngIf="crasInfo">
          <div [innerHTML]="crasInfo"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

<div class="contact-gabi mt-4 mb-5">
  <h4>Ainda tem dúvidas?</h4>
  <p>Entre em contato com nossa assistente virtual <span>Gabi</span> no Telegram.</p>
  <p>Clique na logo abaixo para ser redirecionado:</p>
  <a href="https://t.me/TeleCrasBot" target="_blank" rel="noopener noreferrer">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/82/Telegram_logo.svg/1200px-Telegram_logo.svg.png" alt="Contato pelo Telegram" class="telegram-logo">
  </a>
</div>

<footer id="footer" class="footer text-center py-4">
  <div>
    <div>
        <p>&copy; 2024 TeleCras - Todos os direitos reservado</p>
        <p>
            <a href="/politica-de-privacidade">Política de Privacidade</a> | 
            <a href="/termos-de-uso">Termos de Uso</a>
        </p>
    </div>
    <div style="margin-top: 10px;">
      <a href="mailto:gabitelecras@gmail.com" 
         style="margin: 0 10px; font-size: 20px;" 
         class="social-icon" 
         aria-label="Gmail">
        <i class="fab fa-google"></i>
      </a>
      <a href="https://twitter.com" 
         target="_blank" 
         style="margin: 0 10px; font-size: 20px;" 
         class="social-icon" 
         aria-label="Twitter">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://instagram.com" 
         target="_blank" 
         style="margin: 0 10px; font-size: 20px;" 
         class="social-icon" 
         aria-label="Instagram">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://linkedin.com" 
         target="_blank" 
         style="margin: 0 10px; font-size: 20px;" 
         class="social-icon" 
         aria-label="LinkedIn">
        <i class="fab fa-linkedin"></i>
      </a>
      <i class="bi bi-apple"></i>
    </div>
    
  </div>
</footer>




