@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* body {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    width: 100vw;
    margin: 0;
}

.padding-inline {
    padding-inline: 40px;
}

.navbar {
    z-index: 9999;
}

.title-nav {
    padding-inline: 20px;
}

.nav-link {
    font-size: 16px;
    color: black;
    font-weight: bold;
}

.wallpaper {
    width: 100%;
    height: calc(100vh - 80px); 
    background-image: url('https://www.turismoemrecife.com.br/assets/images/foto-aerea-recife-praia-1000x726.jpg');
    background-repeat: no-repeat;
    background-size: cover;
} 

.wallpaper::before {
    content: "";
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    bottom: -10px;
    background: rgba(255, 255, 255, 0.6); /* Sombra branca com opacidade */
    z-index: 1; /* Coloca a sombra sobre a imagem */
    pointer-events: none; /* Garante que a sombra não interfira com a interação do usuário */
}

.wellcome {
    width: 50%;
    height: 100%;
    text-align: left;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wellcome h2 {
    font-size: 32px;
    z-index: 999;
}


.wellcome p {
    z-index: 999;
}

.section-cras {
    display: flex;
    justify-content: space-around;
}

.section-cras div {
    width: 60%;
}

.info-cras div {
    width: 100%;
}

.section-cras img {
    width: 30%;
    height: 30%;
}

.container-services {
    width: 100%;
    margin-top: 24px;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.card-img-top {
    max-height: 190px;
}
