<header class="text-center">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
      <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">
          <h1 class="title-nav"><b>TeleCRAS</b></h1>
        </a>
    
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item" *ngIf="isHomePage()">
            <a class="nav-link active" href="#sobre">Sobre</a>
            </li>
            <li class="nav-item" *ngIf="isHomePage()">
            <a class="nav-link" href="#services">Serviços</a>
            </li>
            <li class="nav-item" *ngIf="isHomePage()">
            <a class="nav-link" href="#FAQ">FAQ</a>
            </li>
            <li class="nav-item" *ngIf="isHomePage()">
            <a class="nav-link" href="#footer">Contatos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/acessar">Entrar</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
</header>
<router-outlet></router-outlet>