
<div class="full-screen-container">
    <!-- Header -->
  <header class="text-center">
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <h1 class="title-nav">TeleCras</h1>
      </a>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" href="#sobre">Sobre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#services">Serviços</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#footer">Contatos</a>
        </li>
      </ul>
    </nav>
    <div class="wallpaper">
      <div class="wellcome">
        <h2 class="title">Bem-vindo ao <span>TeleCRAS</span></h2>
        <p>Facilitamos o acesso aos serviços sociais prestados pelo CRAS,
           oferecendo apoio e informações sobre benefícios, serviços e agendamentos.
           Estamos aqui para te ajudar!</p>
      </div>
    </div>
  </header>

  <section id="sobre" class="section-cras padding-inline">
    <div class="info-cras">
      <div>
        <h3>O que é o CRAS?</h3>
        <p class="pt-1"><span>O Centro de Referência de Assistência Social – CRAS</span> é uma unidade de proteção social básica do SUAS (Sistema Único de Assistência
          Social), que tem por objetivo prevenir a
          ocorrência de situações de vulnerabilidades e riscos sociais nos territórios, por meio do desenvolvimento de potencialidades e aquisições, do fortalecimento de vínculos familiares e
          comunitários, e da ampliação do acesso aos direitos de cidadania. O Serviço de Proteção e Atendimento Integral à Família (PAIF) é oferecido em todos os Centros de Referência da Assistência Social (CRAS) 
          e tem como objetivo apoiar famílias, prevenindo a ruptura de laços, promovendo o acesso a direitos e contribuindo para a melhoria da qualidade de vida.</p>
      </div>
      <div>
        <h4>Quem são os usuários do CRAS?</h4>
        <p class="pt-1">CRAS é especialmente destinado atendimento de famílias que vivenciam situações de desproteção social, ausência de renda, acesso precário aos serviços públicos, fragilização dos vínculos familiares e comunitários.</p>
        <ul>
          <li>Receber orientações dos serviços e seu atendimento de forma simples e compreensível;</li>
          <li>Receber informações sobre como e onde buscar seus direitos e atendimento socioassistencial;</li>
        </ul>
      </div>
    </div>
    <img class="image" src="https://scontent.fjdo1-2.fna.fbcdn.net/v/t39.30808-6/330561007_552899119974530_5495217552678903437_n.png?_nc_cat=102&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=AH1FYoGkGPYQ7kNvgHM38Vf&_nc_zt=23&_nc_ht=scontent.fjdo1-2.fna&_nc_gid=ATLQOWkg5BmfRYFBSmyR5wi&oh=00_AYDSRlkP_HEDSrF2syh1DjTE7ouFCdW06wbWn7d0mzJ9-g&oe=6749A316" alt="" >
  </section>

  <section id="services" class="services text-center mt-5 padding-inline">
    <h3>Serviços</h3>
    <div class="container-services">
      <div class="card" style="width: 18rem; height: 60vh;">
        <img class="card-img-top" src="https://www.assistencialismo.com.br/wp-content/uploads/2024/07/9-1.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">O CRAS ajuda a avaliar e agendar o atendimento para o Cadastro Único, um requisito essencial para acessar diversos benefícios do governo. Saiba quais documentos são necessários e como realizar o seu cadastro.</p>
        </div>
      </div>
      <div class="card" style="width: 18rem; height: 60vh;">
        <img class="card-img-top" src="https://www.canal63.com.br/arquivos_personalizados/uploads/noticias/fotos/Tarifa_Baixa_Renda_668fb84c0af04.png" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">O CRAS oferece um programa de apoio para famílias de baixa renda, auxiliando no pagamento da conta de energia elétrica. Caso você ou sua família se enquadre, podemos orientar sobre o processo de inscrição e requisitos.</p>
        </div>
      </div>
      <div class="card" style="width: 18rem; height: 60vh;">
        <img class="card-img-top" src="https://www.gov.br/planalto/pt-br/acompanhe-o-planalto/noticias/2023/03/tem-duvidas-sobre-o-bolsa-familia-confira-perguntas-e-respostas-sobre-o-programa/02032023_bolsa_familia_logo.png" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">O programa Bolsa Família é um dos maiores programas de transferência de renda no Brasil. O CRAS oferece orientação e apoio para famílias de baixa renda que desejam acessar o benefício.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="FAQ"></section>
  <section class="cep"></section>

  <footer id="footer" class="text-center py-4">
    <p>&copy; 2024 Sua Empresa - Todos os direitos reservados</p>
  </footer>
</div>
  